/********tooltip css****/

span.special_tooltip_custom_tooltip:before {
  content: "\f059";
  font: normal normal normal 14px/1 FontAwesome;
  padding-left: 6px;
}

.special_tooltip_custom_tooltip {
  position: absolute;
  display: inline-block;
}

.special_tooltip_custom_tooltip:hover .special_tooltip_tooltiptext,
.ginput_container .special_tooltip_custom_tooltip:hover .special_tooltip_tooltiptext {
  visibility: visible;
}

.special_tooltip_custom_tooltip .special_tooltip_tooltiptext {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
}

.special_tooltip_custom_tooltip .special_tooltip_tooltiptext::after {
  content: "";
  position: absolute;
}


/***top position**/

.special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_top,
.ginput_container .special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_top {
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_top::after,
.ginput_container .special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}


/***left position**/

.special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_left,
.ginput_container .special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_left {
  top: -5px;
  right: 105%;
}

.special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_left::after,
.ginput_container .special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}


/***bottom position**/

.special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_bottom,
.ginput_container .special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_bottom {
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_bottom::after,
.ginput_container .special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}


/***right position**/

.special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_right,
.ginput_container .special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_right {
  top: -5px;
  left: 105%;
  margin-left: 6px;
}

.special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_right::after,
.ginput_container .special_tooltip_custom_tooltip .special_tooltip_tooltiptext.special_tooltip_right::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip_templates{
  display: none;
}